// *{
//     margin:0;
//     padding:0;
// }
@import "public";

footer{
    width:100%;
    height:440px;
    background-color: #333333;
    .ss_box{
        height:70px;
        background-color:#ffffff ;
        .s_box{
            width:1200px;
            height:40px;
            margin:0 auto;
            padding-top: 15px;
            display: flex;
            align-items: center;
            span{
                color:#666666 ;
                font-size:14px ;
                padding-left:10px ;
                padding-right: 135px;
            }
        }
    } 
    .box{
        width:1200px;
        height: 220px;
        margin: 0 auto;
        .kefu {
            width:150px;
            float: left;
            p{
                color: #d5a979;
                font-size: 12px;
            }
        } 
        .kefu :first-child{
            padding-top: 20px;
            height:58px;
            line-height: 58px;
        }
        .kefu :nth-child(2){
            font-size: 18px;
        }
        .kefu .p1{
            height: 40px;
            line-height: 40px;
            color:#999999;
        }
        .kefu .p2{
            height: 58px;
            line-height: 58px;
            text-align: center;
            a{
                color:#999999;
                // text-decoration: none;
            }
        }
    }
    .b_box{
        width:685px;
        height: 220px;
        float: left;
        .p_box{
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .p_box2{
            margin-top: 25px;
        }
        p{
            display: inline-block;
            font-size:12px;
            color: #cccccc;
            padding:  0 35px;
        }
    }
    .box2 a{
        color: #cccccc;
    }
    .box2 p:hover a{
        color: #ffffff;
    }
    .imgs{
        width:110px;
        height: 110px;
        margin: 45px 120px;
    }
}

.f_bottom{
    font-size:12px;
    color: #999999;
    text-align: center;
    p{
        height:30px;
        line-height: 30px; 
    }
}
